* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.app_layout {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 70px 1fr;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    height: 70px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    grid-column: 1 / -1;
}

header h1 {
    padding: 0;
    font-size: 24px;
    font-weight: 700;
}

header img {
    width: 60px;
}

.logout_btn {
    margin-left: auto;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 600;
    height: 30px;
    width: 80px;
    border-radius: 5px;

    color: #ff0000;
    border: 1px solid #ff0000;
    background: #ffffff;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.logout_btn.active,
.logout_btn:hover {
    cursor: pointer;
    color: #ffffff;
    background: #ff0000;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.35);
    transform: translateY(-2px);
}

nav {
    position: sticky;
    top: 70px;

    width: 270px;
    height: calc(100vh - 70px);

    background: #ffffff;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.08);
    padding-top: 20px;

    overflow-y: auto;
}

nav {
    grid-column: 1;
    grid-row: 2;
}

/* remove bullets */
nav ul {
    list-style: none;
}

/* menu items */
nav li {
    margin: 1px 0;
}

li i {
    margin-right: 10px;
}

/* links */
nav a {
    font-weight: 500;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

/* hover effect */
nav a:hover,
nav a.active {
    background: #007bff;
    color: white;
}

.main_content {
    grid-column: 2;
    grid-row: 2;
    padding: 40px 20px;
}

.main_content h1 {
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

.form {
    width: 500px;
    margin-top: 20px;
    margin-left: 0px;
}

.form_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 40px;
}

.form_row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
}

.form_row label {
    font-weight: 500;
    width: 180px;
    margin-left: 60px;
}

.form_row input {
    width: 220px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: 0.2s;
}

.form_row input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px #007bff;
}

.operating_bar {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.operating_buttons {
    width: 110px;
    height: 35px;
    font-size: 14px;
    font-weight: 400;
    color: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.operating_buttons.active,
.operating_buttons:hover {
    cursor: pointer;
    color: #fff;
    background: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    transform: translateY(-2px);
}

table {
    width: 100%;
    margin-top: 30px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}